<!DOCTYPE html>
<html lang="en">
<head>
    <title>ICA CM Paper Bidding</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, background-color=#000000">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
</head>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h2>Paper bidding for <b>{{ me.first_name }} {{ me.last_name }} ({{ me.email }})</b></h2>
<p>
    The computational methods group assumes that all first author submitters will also participate in the review process, and review at most 3 abstracts and/or papers.
    In the table below you can select which papers you would prefer to review.
    <b>Please select at least 10 papers to review so we can be sure to assign interesting papers to you</b>.
    We will try to assign papers that you have selected, but of course we might not be able to facilitate all requests.
</p>

    {%  if me.submitter %}<p>Papers are sorted by similarity to your own submission(s), so hopefully the most relevant papers are near the top. {% endif %}
    <p>Please use 'conflict' to mark papers which you can't review due to a conflict of interest.
</p>
{% if msg %}
    <div class="alert alert-success" role="alert">
        <strong>{{ msg }}</strong>
</div>
{% endif %}
{% if warn %}
    <div class="alert alert-warning" role="alert">
        <strong>{{ warn }}</strong>
</div>

{%  endif %}
<form method="POST">{% csrf_token %}
<input type="submit" class="btn btn-primary">

{%  if nbids > 0 %}
<h2>Your preferences:</h2>
<table class="table" style="margin-top:1em">
<tr>
    <th title="Yes">Yes</th>
    <th title="Maybe">Maybe</th>
    <th title="No">No</th>
    <th title="Conflict">Conflict</th>
    <th>Paper Title</th>
</tr>
    {%  for paper in papers %}
        {%  if paper.score != 0 %}
      <tr>
        <td><input type="radio" name="paper_{{ paper.id }}" value="1" {% if paper.score == 1 %}checked{% endif %}></td>
        <td><input type="radio" name="paper_{{ paper.id }}"  value="0" {% if paper.score == 0 %}checked{% endif %}></td>
        <td><input type="radio" name="paper_{{ paper.id }}" value="-1" {% if paper.score == -1 %}checked{% endif %}></td>
        <td><input type="radio" name="paper_{{ paper.id }}" value="-99" {% if paper.score == -99 %}checked{% endif %}></td>
        <td>{{ paper.title }}</td>
      </tr>
        {% endif %}
    {% endfor %}
</table>
{%  endif %}
<h2>Available papers:</h2>
<table class="table" style="margin-top:1em">
<tr>
    <th title="Yes">Yes</th>
    <th title="Maybe">Maybe</th>
    <th title="No">No</th>
    <th title="Conflict">Conflict</th>
    <th>Paper Title</th>
</tr>
    {%  for paper in papers %}
        {%  if paper.score == 0 %}
      <tr>
        <td><input type="radio" name="paper_{{ paper.id }}" value="1" {% if paper.score == 1 %}checked{% endif %}></td>
        <td><input type="radio" name="paper_{{ paper.id }}"  value="0" {% if paper.score == 0 %}checked{% endif %}></td>
        <td><input type="radio" name="paper_{{ paper.id }}" value="-1" {% if paper.score == -1 %}checked{% endif %}></td>
        <td><input type="radio" name="paper_{{ paper.id }}" value="-99" {% if paper.score == -99 %}checked{% endif %}></td>
        <td>{{ paper.title }}</td>
      </tr>
        {%  endif %}
    {% endfor %}
</table>
<input type="submit" class="btn btn-primary">

</form>
</div>
</body>

</html>